@import ../general/color-palette

.btn
    color: $white
    font-weight: bold
    padding: 0.5rem 1rem
    background-color: $green-main
    border: 2px solid $green-main
    border-radius: 40px    
    letter-spacing: 1.5px

input
    padding: 0.5rem
    background-color: $blackish
    border: 2px solid $gray-dark   
    color: $white-medium