@import ../general/color-palette
@import ./notification

@mixin transition($transition...)
  -moz-transition: $transition
  -o-transition: $transition
  -webkit-transition: $transition
  transition: $transition
  
.btn
    color: $white
    font-weight: normal
    padding: 0.5rem 1.5rem
    background-color: $green-main
    border: 2px solid $green-main
    border-radius: 20px
    letter-spacing: 1.5px

    &-full-width
      width: 100%

    @include transition(all 0.2s ease-in-out 0s)

    &:hover
      background: $green-darker
      border-color: $green-darker


$checkbox-width:      22px
input[type=checkbox]
  position: absolute
  left: -9999px

  &+ label
    position: relative
    display: block
    padding: 6px 10px 6px ($checkbox-width + 10)
    cursor: pointer


    // Checkbox setup
    &:before
      display: block
      content: ""
      position: absolute
      left: 0
      top: 50%      
      width: $checkbox-width
      height: $checkbox-width
      background-image: url('../assets/checkbox-unchecked.png')
      background-size: cover
      transform: translate(0%,-50%)
      //@include background-size(72px)
    
  

  // Disabled
  &:disabled
    &+ label
      cursor: not-allowed

      &:before
        background-position: (-$checkbox-width*2) 0

    // Disabled checked
    &:checked + label
      &:before
        background-position: (-$checkbox-width*3) 0

  // Checked
  &:checked + label
    &:before
      //background-position: -$checkbox-width 0
      background-image: url("../assets/checkbox-checked.png")
      background-repeat: no-repeat
    
