@import ../general/color-palette
.playlistsContent
    max-height: 250px
    overflow: auto
    margin-bottom: 57px

.playlist
    &-Item
        width: 100%
        display: flex
        align-items: center
        color: $white
        padding: 15px 20px
        border-bottom: 1px solid $gray-light

    &-Image
        width: 100%
        height: auto
    
    &-Info
        padding: 0 20px
    
    &-Songs
        font-size: 0.75rem
        line-height: 1.5
        margin: 0.5rem

    &-Info 
        color: white
        display: inline-flex
        font-size: 0.85rem


.filterComponent
    input
        margin: 0 auto
        display: block
        width: 100%
        font-size: 1.5rem
        letter-spacing: 1px
